.burger {
  position: relative;
  height: 36px;
  width: 32px;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  &.active,
  &:active {
    outline: none;
  }
  &.icon {
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      background-color: $gray-2;
      &:nth-child(1) {
        top: 9px;
      }
      &:nth-child(2) {
        top: 18px;
      }
      &:nth-child(3) {
        top: 27px;
      }
    }
  }
  &.expand-md {
    @media only screen and (min-width: $screen-breakpoint-medium) {
      display: none;
    }
  }
  &.expand-lg {
    @media only screen and (min-width: $screen-breakpoint-large) {
      display: none;
    }
  }
}
