// Content container
.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: $screen-breakpoint-huge;
  padding: 0.5rem 0.75rem;
  &.medium {
    max-width: $screen-breakpoint-medium;
  }
  &.large {
    max-width: $screen-breakpoint-large;
  }
  &.huge {
    max-width: $screen-breakpoint-huge;
  }
  &.big {
    max-width: $screen-breakpoint-big;
  }
  &.fluid {
    max-width: 100%;
  }
}
